<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <script>
    function langFunc() {
        var baseUrl = location.host;
        var lang = window.navigator.language;
        var isoLang = lang.split("-")[0];
        if(isoLang=="es"){
            window.location.href = window.location.href+""+isoLang+"/";
        }
        else{
            window.location.href = window.location.href+"en/";
        }
    }

    </script>
  <body onload="langFunc()">
    <div class="container">
        <div class="lang-select">
            {{ content }}
        </div>
    </div>
  </body>
</html>
